/* GOOGLE FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* GLOBAL RESETS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --black: #0f0e17;
  --white: #fffffe;
  --orange: #ff8906;
}

/* ****************************** */
/* GENERAL AND RE-USEABLE STYLES */
/* **************************** */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--black);
  line-height: 1;
}

p {
  line-height: 1.6;
}

.main {
  padding: 5rem;
}

.container {
  max-width: 132rem;
  margin: 0 auto 13rem;
}

.grid {
  display: grid;
  gap: 2.4rem;
}

.btn {
  display: inline-block;
  background-color: #ff8906;
  color: var(--white);
  font-size: 2rem;
  padding: 1.6rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

/* *********************** */
/* PAGE COMPONENTS STYLES */
/* ********************* */

/* HERO SECTION */
.section-hero {
  background-color: #0f0e17;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  padding: 4rem 8rem 0 10rem;
  border-radius: 3rem;
}

.hero-text-box {
  color: var(--white);
  padding-bottom: 6rem;
}

.primary-heading {
  font-weight: 700;
  font-size: 5.2rem;
  letter-spacing: -1.7px;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.hero-text {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.hero-img-box {
  align-self: end;
}

.hero-img {
  width: 100%;
}

/* Blog SECTION */
.section-blog {
  grid-template-columns: 31rem 1fr;
}

.partial-nav {
  height: 31rem;
  background-color: var(--black);
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.nav-list li {
  width: 100%;
  text-align: center;
}

.nav-link:link,
.nav-link:visited {
  display: block;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
  background-color: var(--white);
  padding: 1.8rem;
  border-radius: 1rem;
}

.active:link,
.active:visited {
  background-color: var(--orange);
  color: var(--white);
}

.blogs {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0rem;
}

.blog {
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.068);
}

.blog-img-box img {
  width: 100%;
}

.blog-text-box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.blog-tag {
  display: inline-block;
  font-weight: 500;
  padding: 0.4rem 1.6rem;
  border: 1px solid var(--black);
  border-radius: 0.5rem;
}

.blog-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.6px;
}

.blog-description {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.blog-duration,
.blog-comments {
  color: #161616;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.blog-btn-container {
  display: flex;
  justify-content: center;
  display: none;
}

/* ******* */
/* FOOTER */
/* ***** */

.footer {
  background-color: var(--black);
  padding: 13rem;
  text-align: center;
  color: var(--white);
}

.footer-heading {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5rem;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  color: #b9b9b9;
  text-decoration: none;
}
