/* ********************************* */
/* Below 1200px (Landscape Tablets) */
/* 1em = 16px. 16 * 75em = 1200px */
/* ******************************* */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .section-hero {
    padding: 4rem 7.2rem 0;
  }

  .primary-heading {
    font-size: 4.8rem;
  }

  .footer-heading {
    font-size: 3.6rem;
  }

  .teams-name {
    font: 1.8rem;
  }
}
